body {
    background-color: #000;
    color: #fff;
    margin: 0;
    text-align: center;
    font-family:"Arial", Arial, sans-serif;
}
#canvas {
    margin-top: 20px;
    margin-left: auto; margin-right: auto;
    display: block;
}
#canvas canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}